.navbar-brand{
  position: relative;
  left: 4%;  
}
.navbar-brand strong{
    position: relative;
    top: 10px;
}
.navbar-brand .icon{
    position: relative;
    top: 7px;
}
.form-control{
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}
.search-icon{
    position: absolute;
    z-index: 10;
    right: 2%;
    color: blue;
    top:13px;
}
.btn-primary{
    background-color: #0d6efd;
    border: none;
    margin-right: 30px;
}
.btn-primary .cart{
    position: relative;
    top:6px;
    color: white;
}
.bg-secondary{
    position: relative;
    bottom: 12px;
}
.logout{
    background-color: black;
    color: white;
}